@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap');


:root {
    --roxo-principal: #5D15D1;
}

* {
    font-family: "raleway", sans-serif;
    margin: 0;
    padding: 0;
}
html {
    background-color: #80808029;
}

.limite {
    width: 1024px;
    margin: auto;
}

/* HEADER */
.topo {
    margin: auto;
}
.logo {
    display: flex;
    align-items: center;
    height: 55px;
}
.logo img {
    height: 32px;
    margin-right: 10px;
}
.logo p {
    color: var(--roxo-principal);
    font-size: 24px;
}

/* sessão principal */
.bg-form {
    background-image: url(../imagens/bahia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* formulario */
.formulario {
    margin: 50px 0px;
    background: white;
}
.topo-form {
    text-align: center;
    background-color: var(--roxo-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}
.topo-form img {
    height: 20px;
    transform: rotate(-45deg);
}
.topo-form h1 {
    font-size: 14px;
    color: white;
    margin-left: 5px;
}
.formulario h2 {
    margin: 20px 20px;
    font-size: 22px;
    font-weight: 600;
}
input, select {
    height: 32px;
}
.formulario form {
    margin: 24px 20px;
    display: flex;
    flex-direction: column;
}
.formulario form label {
    font-size: 16px;
}
.formulario form input, .formulario form select {
    margin: 10px 0px;
}

.ida-e-volta, .origem-destino {
    display: flex;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    width: calc((100% / 2) - 10px);
}

.infantil {
    margin: 10px 0px;
}
.check-infantil {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 6);
    position: relative;
    margin-top: 5px;
}
.crianca {
    display: flex;
    align-items: center;
}
.crianca label {
    position: relative;
    left: 5px;
}

.prerefencias {
    width: calc((100% / 2) - 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prerefencias label {
    position: relative;
    right: 20px;
}


button {
    background-color: var(--roxo-principal);
    color: white;
    border: none;
    width: 160px;
    height: 32px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
}
/* fim formulario */

.titulo p {
    margin-bottom: 10px;
}

/* ofertas */
.ofertas {
    margin: 30px auto;
}
.galeria {
    display: flex;
}
.foto {
    width: 50%;
}
.sessao-destaque img {
    width: 500px;
}
.sessao-4-fotos {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.sessao-4-fotos img {
    width: 240px;
    height: 170px;
    margin: 5px;
    object-fit: cover;
    position: relative;
}

/* fim ofertas(FINALMENTE) */


.natureza {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 450px;
    position: relative;
    margin-bottom: 50px;
}
.sessao-foto {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 470px;
}
.sessao-foto img {
    width: 500px;
}
.sessao-foto .texto {
    margin: 15px;    
}
.sessao-foto .texto h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.sessao-foto .texto p {
    font-size: 14px;
    color: #757575;
}


footer {
    background: var(--roxo-principal);
    width: 100%;
    padding: 10px;
}
.final {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}
.final img {
    height: 15px;
    padding-right: 5px;
}
.contato h2, .social-media h2 {
    margin-bottom: 15px;
}