@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

root {
    --apple: #b3b3b3ff;
}

* {
    background-color: brown;
    font-family: 'Poppins';
    color: #cccccc;
}


.menu-lateral {
    height: 100%;
    background-color: #fff;
}
.menu-lateral .burguer {
    position: absolute;
    top: 20px;
    left: 20px;
}
.menu-lateral img {
    height: 30px;
}
.menu-lateral .social {
    position: absolute;
    bottom: -10px;
    left: -20px;
}
.menu-lateral .social li {
    list-style: none;
}
.menu-lateral .social li img {
    height: 25px;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: 100px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    left: -200px;
}
nav ul li {
    margin-right: 80px;
    text-decoration: none;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
}
nav .logo {
    height: 40px;
}
nav img {
    height: 20px;
    position: relative;
    top: 5px;
}
nav .final {
    position: relative;
    bottom: -5px;
}
nav span {
    font-size: 20px;
    margin: 0 20px;
}


main {
    width: 1200px;
    margin: auto;
    display: flex;
    position: relative;
}
main .esq {
    width: 100%;
    position: relative;
    left: 30px;
    top: 100px;
}
main .esq h1 {
    font-size: 50px;
    line-height: 60px;
}
main .esq h2 {
    position: relative;
    top: -30px;
    font-size: 25px;
    font-weight: 300;
}
main .esq a {
    text-decoration: none;
    padding: 10px 60px;
    border: 2px solid white;
    border-radius: 30px;
    position: relative;
    top: 50px;
}
main .dir img {
    position: relative;
    top: 80px;
    right: 30px;
    height: 400px;
}