:root {
    --paw: #bf9e04ff;
    --div: #eeeeeeff;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


header {
    background-color: black;
    height: 60px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 1);
    width: 100vw;
}
.menu {
    max-width: 1000px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo {
    display: flex;
    align-items: center;
    padding: 7px;
}
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo img {
    height: 30px;
    padding-right: 10px;
}
.logo h3 {
    color: white;
    font-size: 25px;
}
.navegacao {
    position: absolute;
    top: 18px;
    right: 0;
}
.navegacao li {
    display: inline;
}
.navegacao li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--paw);
    margin-right: 10px;
}
.navegacao li a:hover {
    border-bottom: 2px solid var(--paw);
    padding-bottom: 5px;
    color: white;
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
    }
}


.banner {
    width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.banesq {
    width: 50%;
    margin-left: 50px;
}
.banesq p {
    color:var(--paw);
    font-size: 18px;
}
.banesq h1 {
    font-size: 50px;
    font-weight: bolder;
    line-height: 45px;
    margin: 10px 0;
    margin-bottom: 25px;
}
.banesq a {
    font-size: 15px;
    padding: 12px;
    background-color: var(--paw);
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
.bandir img {
    width: 450px;
    position: relative;
    top: 10px;
    right: 30px;
}


.produtos {
    width: 100%;
    height: 460px;
    margin: auto;
    background: var(--div);
}
.produtos .cards {
    width: 930px;
    margin: auto;
    display: flex;
    text-align: center;
}
.produtos .cards .card {
    background: #fff;
    height: 400px;
    width: 250px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.4);
    position: relative;
}
.produtos .cards .card img {
    height: 110px;
    margin: 30px;
}
.produtos .cards .card h3 {
    font-size: 13px;
}
.produtos .cards .card p {
    margin: 10px auto;
    width: 200px;
}
.produtos .cards .card span {
    background-color: var(--paw);
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    left: 30%;
    bottom: 30px;
    color: white;
    cursor: pointer;
}


.descricao1 {
    width: 1000px;
    margin: auto;
    display: flex;
}
.descricao1 img {
    height: 350px;
    position: relative;
    left: 50px;
}
.desctext {
    width: 520px;
    position: relative;
    right: -100px;
    text-align: justify;
    margin-top: 50px;
}
.desctext h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.desctext p {
    font-size: 15px;
}


.descricao2 {
    width: 900px;
    margin: auto;
    display: flex;
}
.descricao2 .desctext {
    width: 500px;
    position: relative;
    left: 50px;
}
.descricao2 img {
    width: 250px;
    position: relative;
    right: -100px;
}
.descricao2 .desctext a {
    position: relative;
    top: 30px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #bf9e04ff;
    color: #bf9e04ff;
    border-radius: 15px;
}
.descricao2 .desctext a:hover {
    color: white;
    background-color: #bf9e04ff;
}


footer {
    background-color: rgb(32, 32, 32);
}
.final {
    width: 1000px;
    height: 240px;
    margin: auto;
    display: flex;
}
.section {
    width: 306px;
    margin: 20px;
    margin-bottom: 30px;
    color: white;
}
.social p {
    font-size: 15px;
}
.socialmedia img {
    width: 25px;
    padding: 15px 0px;
    margin: 3px;
}
.infos h3 {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
.infos p {
    font-size: 15px;
    text-align:center;
}
.contact {
    margin: 30px;
}
.contact h3 {
    margin-bottom: 10px;
}
.contact input {
    width: 100%;
    height: 25px;
    margin: 5px 0;
}
.contact a {
    background-color: var(--paw);
    padding: 10px 30px;
    border-radius: 15px;
    position: relative;
    top: 20px;
    right: -185px;
    text-decoration: none;
    color: white;
}