@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
font-family: 'poppins';
margin: 0;
padding: 0;
background: rgb(70, 142, 236);
min-height: 100vh;
font-family: normal 15pt arial;
}
header
{
color: rgb(75, 10, 10);
text-align: center;
}
section
{ 
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
}
footer
{
color: white;
text-align: center;
font-style: italic;
}
div
{
    text-align: center;
    padding: 8px;
}