@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
}
/* body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */


header {
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 20px;
}
header .logo {
    font-size: 32px;
    font-weight: 700;
}
header .menu {
    position: relative;
    left: -150px;
}
header .menu ul {
    list-style: none;
    margin-top: 10px;
}
header .menu ul li {
    display: inline;
    margin-left: 40px;
}
header .menu ul li a {
    text-decoration: none;
}
header .pesquisa {
    height: 20px;
    margin-top: 15px;
    position: relative;
    right: -200px;
}
header .perfil {
    border-radius: 50%;
    border: 2px solid white;
    height: 30px;
    position: relative;
    top: 5px;
}


main {
    margin: auto;
    display: flex;
}
.info {
    width: 100%;
    top: 150px;
    background-color: aqua;
}
.info h1 {
    font-size: 30px;
}
.info p {
    font-size: 12px;
    width: 400px;
}
.info a {
    position: relative;
    top: 60px;
    padding: 5px 40px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    text-decoration: none;
}