@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

:root {
    --amarelo-claro-bareo: #F1E8D9;
    --amarelo-principal-bareo: #C69861;
    --marron-bareo: #3D1702;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}


#banner {
    height: 70vh;
    background-image: url(assets/galeria/banner-frente.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -500px;
}
header {
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 50px;
}
.logo img {
    height: 100%;
}
header nav a {
    margin-left: 10px;
    text-transform: uppercase;
    color: white;
}
header nav a:hover {
    transition: 0.2s;
    color: var(--amarelo-principal-bareo);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-transform: uppercase;
}
.banner h1 {
    font-size: 120px;
}
.banner hr {
    width: 500px;
    height: 5px;
    background: var(--amarelo-principal-bareo);
    border: none;
    border-radius: 10px;
    margin: -20px 0 10px;
}
.banner p {
    font-size: 30px;
}


#quemsomos {
    display: flex;
    align-items: center;
    height: 70vh;
    background-color: var(--amarelo-claro-bareo);
}

.desc-quemsomos, .image-quemsomos {
    width: calc(100% / 2);
}

.desc-quemsomos {
    padding: 50px 100px;
}
.desc-quemsomos h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
}

.image-quemsomos {
    display: flex;
    justify-content: center;
}
.image-quemsomos figure{
    height: 300px;
    width: 500px;
    overflow: hidden;
    border-radius: 30px;
}
.image-quemsomos figure img {
    width: 100%;
}


#ambiente {
    max-width: 1024px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#ambiente > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ambiente > div > figure {
    height: 50px;
    margin: 20px;
}
#ambiente > div > figure img {
    height: 100%;
}

#ambiente > div h3 {
    font-size: 22px;
    text-transform: uppercase;
}
#ambiente > div p {
    max-width: 200px;
}


#galeria {
    margin: 50px;
}

.galeria {
    display: flex;
}



#horario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/galeria/banner-bar-cheio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -350px;
    padding: 50px;
    text-transform: uppercase;
    color: white;
}
#horario h2 {
    font-size: 32px;
}
.box-horarios {
    background-color: var(--marron-bareo);
    border: 5px solid white;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
}
.box-horarios p {
    transition: 0.5s ease;
    margin: 10px;
    cursor: default;
}
.box-horarios p:hover {
    color: var(--amarelo-principal-bareo);
}

#depoimentos {
    margin: auto;
    padding: 50px;
}
#depoimentos h2 {
    text-align: center;
    font-size: 32px;
}
.box-depoimentos {
    display: flex;
    margin: 80px;
}

.card {
    margin: 10px;
    background-color: var(--amarelo-principal-bareo);
    padding: 30px;
    width: calc(100%/3);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    cursor: default;
    transition: 0.7s ease-out;
}
.card:hover {
    background-color: var(--marron-bareo);
    color: white;
}
.card span {
    margin-top: 20px;
    font-style: italic;
    font-weight: bolder;
}


#contato {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.rodape {
    height: 350px;
    background: linear-gradient(90deg, transparent, var(--marron-bareo), var(--marron-bareo));
    z-index: 1;
    color: var(--amarelo-principal-bareo);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: end;
}

.social-media {
    display: flex;
}
.social-media a {
    margin-left: 10px;
}
.social-media figure {
    background-color: var(--amarelo-principal-bareo);
    height: 35px;
    width: 35px;
    border-radius: 10px;
}
.social-media figure img {
    height: 100%;
    padding: 7px;
}