:root {
    --azul-principal: #2f86d6;
    --azul-escuro: #233032;
    --cinza-escuro: #a89f9f;
    --cinza-medio: #f6f6f6;
    --cinza-claro: #f1f3f7;
}
.ponto {
    height: 10px;
    width: 10px;
    background-color: var(--azul-principal);
    border-radius: 50%;
}