:root {
    --paw: #bf9e04ff;
    --div: #eeeeeeff;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    background-color: black;
    height: 60px;
}
.menu {
    width: 1000px;
    height: 60px;
    margin: auto;
    display: flex;
    position: relative;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 30px;
    padding: 10px;
}
.logo h3 {
    color: white;
    font-size: 25px;
}
.navegacao {
    position: absolute;
    top: 18px;
    right: 0;
}
.navegacao li {
    display: inline;
}
.navegacao li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--paw);
    margin-right: 10px;
}

.banner {
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
}
.banesq {
    width: 50%;
}
.banesq p {
    color:var(--paw);
    font-size: 18px;
}
.banesq h1 {
    font-size: 50px;
    font-weight: bolder;
    line-height: 45px;
    margin: 10px 0;
    margin-bottom: 25px;
}
.banesq a {
    font-size: 15px;
    padding: 12px;
    background-color: var(--paw);
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
.bandir img {
    width: 100%;
}

.produtos {
    width: 100%;
    margin: auto;
    background: var(--div);
}