:root {
    --paw: #bf9e04ff;
    --div: #eeeeeeff;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    height: 100px;
}
.menu {
    width: 1000px;
    height: 100px;
    background-color: aqua;
    margin: auto;
    position: relative;
}
.logo {
    display: flex;
}
.logo img {
    height: 30px;
    padding: 10px;
}
.logo h3 {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
}