:root {
    --azul-principal: #2f86d6;
    --azul-escuro: #233032;
    --cinza-escuro: #a89f9f;
    --cinza-medio: #f6f6f6;
    --cinza-claro: #f1f3f7;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.limite {
    width: 1024px;
    margin: auto;
}
span {
    color: var(--azul-principal);
}