@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}


.site {
    display: flex;
    max-width: 1366px;
    height: 100vh;
    margin: auto;
}


.lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    height: 100vh;
    background-color: #fff;
}
.menu-burguer img {
    width: 30px;
    margin: 25px 0;
}
.social-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    height: 40px;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li a {
    padding: 0 30px;
    text-decoration: none;
    color: white;
}
.shop img {
    height: 25px;
}
.shop span {
    font-size: 25px;
    color: white;
    position: relative;
    bottom: 5px;
    padding: 0 25px;
}


main {
    height: 80%;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}


.conteudo {
    box-sizing: border-box;
    margin: 10px;
    border-radius: 15px 15px 100px 15px;
    padding: 20px;
    background: linear-gradient(90deg, #E7BEB8 , #DD8D86);
    color: white;
}


.esquedo {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.esquerdo h1 {
    font-size: 60px;
    padding-bottom: 20px;
}
.esquerdo p {
    width: 70%;
    padding-bottom: 20px;
}


.direito {
    width: 50%;
}


button {
    border: none;
    padding: 10px 50px;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    background: transparent;
    border-radius: 100px;
}

.galeria {
    position: relative;
    top: 40px;
}

