* {
    margin: 0;
    font-family: 'Tahoma';
}
.destaque-azul {
    font-weight: bold;
    color: #afddfb;
}
.destaque-amarelo {
    font-weight: bold;
    color: yellow;
}
header {
    padding: 30px 0;
    background-color: #afddfb;
    text-align: center;
}
nav {
    margin-top: 15px;
    margin-bottom: 25px;
}
nav a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}
.banner {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 0;
    text-align: center;
}
h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}
h2 {
    color: #1c81c0;
}
.sec-sobre {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.sec-sobre p, .sec-correts p {
    font-size: 15px;
    padding-bottom: 30px;
    text-align: justify;
    line-height: 20px;
    width: 700px;
    margin: 0 auto;
}
.sec-sobre img, .sec-correts img {
    width: 450px;
    margin: 20px;
}
.sec-serv {
    background-color: #1c81c0;
    color: white;
    margin-top: 30px;
    text-align: center;
}
.sec-serv h2 {
    padding: 30px;
    font-size: 28px;
    line-height: 42px;
    color: white;
    text-align: center;
}
.sec-serv p {
    font-size: 22px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 42px;
    width: 700px;
    margin: 0 auto;
}
.sec-serv ul {
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    width: 100px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.sec-correts {
    text-align: center;
}
.sec-correts h2 {
    padding: 30px;
    font-size: 28px;
    line-height: 42px;
    color: #1c81c0;
    text-align: center;
}