* {
    margin: 0;
    font-family: 'Tahoma';
}
header {
    padding: 30px 0;
    background-color: lightblue;
    text-align: center;
}
.sec-sobre, .sec-correts {
    padding: 30px 0;
    text-align: center;
}
.sec-serv {
    background-color: lightblue;
}