.Menu {
    max-width: 400px;
}
nav {
    display: flex;
    flex-direction: column;
}
.link-nav-menu {
    display: flex;
    align-items: center;
    margin: 10px;
}
nav img {
    height: 15px;
    margin-right: 10px;
    filter: invert(1);
}

