:root {
    --bg: #0E1629;
    --bg-blocos: #182343;
    --bg-botoes: #4D77FF;
    --verde-destaque: #80E576;
    --cinza-fonte: #646A7B;
  }


.menu {
    margin: 0px 20px;
}
.logo {
    margin: 30px;
}
.logo span {
    font-size: 30px;
}
.nav-menu {
    padding: 20px;
    width: 180px;
    background-color: var(--bg-blocos);
    border-radius: 15px;
    position: sticky;
    top: 10px;
}
nav {
    display: flex;
    flex-direction: column;
}
.link-nav-menu {
    display: flex;
    align-items: center;
    margin: 15px;
    text-decoration: none;
    color: white;
}
.link-nav-menu img {
    height: 15px;
    margin-right: 10px;
    filter: invert(1);
}
.link:hover {
    background-color: var(--bg-botoes);
    border-radius: 10px;
}