/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer > .logo {
    margin-top: 50px;
}
footer > p, .assinatura p {
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
}
.assinatura {
    width: 100%;
    background-color: var(--cinza-claro);
    margin-top: 50px;
}
.assinatura p {
    text-align: center;
}
.assinatura a {
    text-decoration: none;
}