@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
.limitador {
    max-width: 1024px;
    margin: auto;
}

/* topo */
.menu {
    width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}
.logo {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.logo span {
    font-weight: 800;
    padding: 0 5px 0 0;
}
nav {
    display: flex;
}
div a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 13px;
    color: white;
}
.contato {
    padding: 10px 30px;
    border: 1px solid white;
}
.topo {
    background-image: url(../imagens/header.jpg);
    background-size: cover;
    background-position-y: -260px;
    height: 100vh;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 220px;
    margin: auto;
    position: relative;
    left: -90px;
    top: 160px;
    color: white;
}
.benner h1 {
    font-family: 'Playfair Display', serif;
}
.botao {
    width: 150px;
    padding: 15px 40px;
    text-align: center;
    background-color: #fff;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.445);
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
}

 /* main */
 .titulo, .project {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px 0;
 }
.titulo h2, .project h2 {
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.titulo p, .project p {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}


/* bloco 1 */
.bloco1, .amostra {
    background-color: rgb(255, 255, 240);
    display: flex;
    align-items: center;
}
.bloco-txt, .amostra-txt {
    width: calc(100%/2);
    margin: 0 40px;
}
.bloco-txt h3, .amostra-txt h3, .processo-txt h3 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.bloco-txt h2, .amostra-txt h2 {
    margin: 30px 0;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.bloco-txt p, .amostra-txt p {
    font-size: 14px;
    letter-spacing: 1px;
}
.botao {
    margin-top: 30px;
    text-transform: uppercase;
}

.bloco-img, .amostra-img {
    width: calc(100% / 2);
    height: 600px;
    overflow: hidden;
}
.bloco-img img, .amostra-img img {
    width: 100%;
}

/* processo */
.processo {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    text-align: center;
}
.processo-txt h2 {
    margin: 10px 0 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.processo-detalhe {
    display: flex;
    max-width: 1024px;
    margin: auto;
    text-transform: uppercase;
    font-size: 11px;
}
.processo-detalhe h2 {
    margin: 10px 0;
}
.processo-detalhe p {
    width: 60%;
    margin: auto;
    line-height: 20px;
}

/* project */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project > .botao {
    background-color: black;
    color: white;
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 30px 0;
}
footer > .logo {
    margin-bottom: 30px;
}
footer nav a {
    color: black;
    text-transform: uppercase;
}