:root {
    --cor-principal: #00cad1;
    --cor-texto: #0000008c;
  }

.container {
    margin: 20px auto;
}
.container-links-especialidades {
    display: flex;
}
.links-especialidades a {
    margin: 0px 10px;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 2px solid var(--cor-principal);
    color: var(--cor-texto);
}
.links-especialidades a:hover {
    color: #0d6e71;
}
.titulo-especalidades {
    text-align: center;
}
.container-titulo {
    text-align: center;
}
.container-titulo h3 {
    text-transform: capitalize;
}

@media (max-width: 425px) {
    .container-links-especialidades {
        text-align: center;
        line-height: 30px;
    }
}
@media (max-width: 768px) {
    .container-links-especialidades {
        text-align: center;
        line-height: 30px;
    }
}
/* fim da estilização do topo */

.box-tabela-especialista {
    display: flex;
    width: 100%;
}
.box-tabela-especialista img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

table {
    width: 100%;
    text-align: left;
    text-transform: capitalize;
}
.tabela-especialistas thead tr {
    background-color: #00cad1;
    color: #fff;
}
.tabela-especialistas tbody tr:nth-of-type(2n+1) {
    background-color: #cdcdcd;
}
.tabela-especialistas th, .tabela-especialistas td  {
    padding: 10px;
}

@media (max-width: 425px) {
    .box-tabela-especialista img {
        display: none;
    }
}

@media (max-width: 768px) {
    .box-tabela-especialista img {
        display: none;
    }
}