@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --azul-titulo: #022144;
    --branco-bg-full: #fff;
    --branco-bg-banner: #fafbfc;
    --branco-bg-experiencias: #f6f8fc;
    --cinza-card: #8a8fa3;
    --cinza-texto: #32333c;
    --amarelo-hover: #feb633;

    --dark-bg-full: #252525;
    --dark-bg-experiencias: #393838;
    --dark-textos: #9f9f9f;
    --dark-titulo: #cccccc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    max-width: 1440px;
    margin: auto;
}