@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}


.site {
    display: flex;
    max-width: 1300px;
    max-height: 800px;
    height: 100vh;
    margin: auto;
}


.lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 50px;
    max-height: 800px;
    height: 100vh;
    background-color: #fff;
}
.menu-burguer img {
    width: 30px;
    margin: 25px 0;
}
.social-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.social-links a {
    margin-top: 10px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    height: 40px;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li a {
    margin: 0px 30px;
    padding: 5px 0;
    text-decoration: none;
    color: white;
}
header nav ul li a:hover {
    border-bottom: 2px solid;
}

.shop img {
    height: 25px;
    cursor: pointer;
}
.shop span {
    font-weight: lighter;
    font-size: 40px;
    color: white;
    position: relative;
    padding: 0 10px;
    cursor: default;
}


main {
    height: 80%;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}


.conteudo {
    box-sizing: border-box;
    margin: 10px;
    border-radius: 15px 15px 100px 15px;
    padding: 20px;
    background: linear-gradient(90deg, #E7BEB8 , #DD8D86);
    color: white;
}


.esquedo {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.esquerdo h1 {
    font-size: 60px;
    padding-bottom: 20px;
}
.esquerdo p {
    width: 70%;
    font-size: 20px;
    padding-bottom: 20px;
}


.direito {
    width: 50%;
    display: flex;
    align-items: center;
}


button {
    border: none;
    padding: 10px 50px;
    border: 2px solid white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background: transparent;
    border-radius: 100px;
    cursor: pointer;
}
button:hover {
    background-color: #fff;
    color: rgb(187, 158, 158);
}



figure {
    max-height: 400px;
    max-width: 100%;
    position: relative;
    top: 30px;
    right: 100px;
    overflow: hidden;
}
.galeria img {
    height: 100%;
}
.shadow {
    width: 400px;
    height: 10px;
    position: relative;
    top: 50px;
    right: 100px;
    border-radius: 100%;
    background: #2e1e1c;
    filter: blur(20px);
}

.seletores {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seletor {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 10px 0;
}
.selecionado {
    transform: scale(1.2);
    border: 2px solid;
    background-color: transparent;
}