@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-padding-top: 100px;
}

header {
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.685);
    position: sticky;
    top: 0px;
    z-index: 1;
}
.menu {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 40px;
}
.logo img {
    height: 100%;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #353535;
    font-weight: bold;
}
nav a:hover {
    border-bottom: 25px solid #2eb12e;
    color: #2eb12e;
}
.login, .botao {
    padding: 15px 55px;
    background-color: #2eb12e;
    border-radius: 10px;
    cursor: pointer;
}
.login a, .botao a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}



.banner {
    height: 70vh;
    background-image: url(../imagens/home-banner-lg_v1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    text-align: center;
}
.banner-texto {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 10%;
}
.banner-texto h1 {
    font-size: 70px;
    color: #353535;
}
.banner-texto p {
    padding: 20px 0;
    font-size: 25px;
    color: #353535;
}
.banner-texto > .botao {
    width: 100px;
    margin: auto;
}


.funcionamento {
    max-width: 1024px;
    margin: 50px auto;
    color: #353535;
}
.funcionamento h2 {
    text-align: center;
}
.funcionamento-container {
    columns: 3;
}
.funcionamento-box {
    text-align: center;
    margin: 10px;
    padding: 20px;
}
.funcionamento-box img {
    width: 100%;
    height: 100px;
    padding: 10px;
    opacity: 0.5;
}
.funcionamento-box h3 {
    margin: 15px;
}



.cardapio {
    max-width: 1024px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    color: #353535;
}
.cardapio h2 {
    text-align: center;
    margin: 30px;
}
.cardapio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cardapio-box {
    max-width: calc(100%/5.3);
    margin: 20px 5px;
}
figure img {
    width: 100%;
    border-radius: 15px;
}
figcaption {
    text-align: start;
    width: 75%;
    position: relative;
    bottom: 25px;
    left: 20px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 15px 0 0 15px;
}
.cardapio a {
    justify-content: center;
    padding: 20px 30px;
    background-color: #2eb12e;
    text-decoration: none;
    color: white;
    border-radius: 16px;
    font-weight: bold;
}

.assine {
    height: 60vh;
    background-image: url(../imagens/Secondary+image+\(1\).png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353535;
}
.box_assinatura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 150px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    padding: 30px;
}
.box_assinatura > .botao {
    margin: 0 auto;
    width: 90px;
}


.newsletter {
    color: #353535;
    display: flex;
    align-items: center;
    height: 40vh;
    max-width: 1024px;
    margin: auto;
    text-align: center;
}
.inscreva {
    margin: auto;
    height: 150px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inscreva p {
    margin: auto;
    width: 450px;
    line-height: 20px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
}
.form {
    display: flex;
    justify-content: center;
    width: 100%;
}
.form input, .form button {
    padding: 15px;
}
.form input {
    width: 300px;
    border: 2px solid #2eb12e;
}
.form button {
    background-color: #2eb12e;
    border: 2px solid #2eb12e;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    right: 4px;
}


