@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body {
    max-width: 1366px;
    margin: auto;
    border: 1px solid black;
}

span {
    color: orangered;
}
a {
    text-decoration: none;
    color: darkgrey;
}

header, header > div, nav, .lang, .singup, .banner, .blocos {
    display: flex;
    align-items: center;
}

header {
    padding: 20px;
    background-color: #fff;
    justify-content: space-between;
    z-index: 1;
    border: 1px solid black;
}

header nav {
    margin-left: 40px;
}
header nav a {
    margin-right: 15px;
}

.logo {
    font-size: 35px;
    font-weight: bolder;
}
.lang {
    margin-right: 20px;
}
.lang a {
    margin-right: 10px;
}


.singup a {
    display: flex;
    align-items: center;
}
.add {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: black;
}



.banner {
    height: 650px;
    display: flex;
}

.esquerdo, .direito {
    height: 100%;
    width: calc(100%/2);
}
.esquerdo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid black;
}

.texto h1 {
    font-size: 6rem;
    padding: 20px;
}
.segunda_linha {
    position: relative;
    bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerdo figure img {
    height: 80px;
    border-radius: 50%;
}
.esquerdo figure img:nth-child(1) {
    position: relative;
    left: 20px;
    z-index: 0;
}
.esquerdo figure img:nth-child(2) {
    z-index: -1;
}
.esquerdo figure img:nth-child(3) {
    position: relative;
    right: 20px;
    z-index:-2;
}
.account {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 20px;
}
.account a:nth-child(1) {
    border-bottom: 2px solid black;
    color: black;
    padding-bottom: 5px;
}


.direito {
    background-image: url(../imagens/ok.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border: 1px solid black;
}
.linha {
    height: 7px;
    width: 150px;
    background-color:black;
    position: relative;
    top: 20%;
    right: 80px;
}


.blocos {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box {
    width: calc(100%/4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    border: 0.5px solid black;
    padding: 40px;
}

.titulo-opcao {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.opcoes div {
    border: 1px solid;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 30px;
}
.opcoes div a {
    color: black;
    font-size: 12px;
}

.box:nth-child(2) {
    background-color: orangered;
}

.apresentacao {
    font-size: 30px;
}

.gigante {
    font-size: 100px;
}
.gigante span sup {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    bottom: 35px;
    right: 15px;
}

.box:nth-child(4) {
    background-color: darkgray;
}