div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
}

h1 {
  color: white
}

p {
  color: gray;
  font-size: 22px;
}

.react {
  color: lightblue
}

.autor {
  font-style: italic;
  cursor: pointer;
}
.autor:hover {
  color: red;
}